{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{% static 'css/bootsrap.css' %}">
    <link rel="stylesheet" href="{% static 'css/mdb.css' %}">
    <style>
        body{

            text-align: center;
            background-color: lightblue;
        }
        img{
            border: 2px solid black;
            border-radius: 10px;
        }

        button{
            border: 2px solid black;
            border-radius: 10px;
        }
    </style>
</head>
<body>

   <h1> <img src="{% static 'images/suresh raina.jpg' %}" alt="" width="400px" height="450px"></h1>
     <button class="btn btn-primary">Know more</button>






    <script src="{% static 'js/jquery.js' %}"></script>
    <script src="{% static 'js/popper.js' %}"></script>
    <script src="{% static 'js/bootstrap.js' %}"></script>
    <script src="{% static 'js/mdb.js' %}"></script>

</body>
</html>